:root {
  --primary: rgb(9, 96, 136);
  --primary-light: rgb(14, 113, 158);
  --danger: rgb(155, 30, 30);
  --danger-light: rgb(167, 49, 49);
  --white: rgb(255, 255, 255);
}

body {
  background-color: black;
}

.title {
  color: var(--white);
  text-align: center;
  margin-top: 2rem;
}

#map {
  height: 500px;
  width: 100%;
}

.buttons {
  text-align: center;
  padding: 2rem 0;
}

.buttons > button {
  border: none;
  color: white;
  padding: 0.5rem 1.7rem;
  border-radius: 5px;
}

button {
  display: inline-flex;
  align-items: center;
}
button > img {
  width: 1.5rem;
  margin-right: 5px;
}

.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-light);
  cursor: pointer;
}

.danger {
  background-color: var(--danger);
}
.danger:hover {
  background-color: var(--danger-light);
  cursor: pointer;
}

.message {
  background: linear-gradient(
    90deg,
    rgba(144, 2, 7, 1) 0%,
    rgba(134, 134, 134, 1) 100%
  );
  width: 300px;
  margin: 0.5rem;
  text-align: center;
  color: var(--white);
}
.message > h2 {
  margin: 0.5rem 0 1rem 0;
  font-size: 1.5rem;
}
.message > img {
  width: 70%;
}
.message > p {
  margin: 0;
}

.gm-style .gm-style-iw-c {
  padding: 0;
  margin: 0;
}

.gm-style .gm-style-iw-d {
  overflow: auto !important;
  background: rgb(144, 2, 7);
  background: linear-gradient(
    90deg,
    rgba(144, 2, 7, 1) 0%,
    rgba(134, 134, 134, 1) 100%
  );
}

.gm-style .gm-style-iw-tc::after {
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.gm-ui-hover-effect {
  position: absolute;
  border: 1px solid rgb(175, 175, 175) !important;
  border-radius: 100%;
  font-weight: bolder !important;
  right: 10px !important;
  top: 5px !important;
}

.gm-ui-hover-effect > span {
  background-color: #1d1d1d;
}
